html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Heebo', sans-serif;
  color: #000000;
  
}

@font-face {
  font-family: 'Heebo';
  src: url('/public/fonts/Heebo-Black.ttf');
}


* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

