
.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 70px;

}

.link {
  margin-right: 100px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-image: '/images/header.jpeg';
  background-size: cover; 
  
}
.text {
  max-width: 60%;
}

.textBold {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  margin-left: 20px;
}

.description {
  margin-left: 20px;
}


