@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: "/images/header.jpeg";
  background-size: cover;
  margin-bottom: 5%;
}

.text {
  max-width: 60%;
}

.textBold {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 2.75em;
  line-height: 60px;
  margin-left: 2%;
}

.description {
  margin-left: 2%;
}

.embla {
  position: relative;
  padding: 0;
  overflow: hidden;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.buttonL {
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 60%;
  left: -35px;
  transform: translateY(-50%);
  z-index: 10;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  color: black;

}

.buttonR {
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 60%;
  right: -35px;
  transform: translateY(-50%);
  z-index: 10;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  color: black;
}


.icon {
  width: 1.25rem;
  height: 1.25rem;
}



.embla__slide {
  flex: 0 0 100%;
  flex-shrink: 0;
  width: 100%;
  max-width: 25rem;
  padding-right: 3%;
  height: auto;
}

.embla__slideWork {
  flex: 0 0 100%;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.emblaWork__slide__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2%;
}


.embla__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}



.blog {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
  position: relative;
}

.works {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 5%;
}

.worksContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  
}

.workPost {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  text-decoration: none !important;

 
  
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (высота / ширина * 100%) */
}

.videoWrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none; /* Если хотите убрать границу у iframe, добавьте это свойство */
}

.projectName {
  margin: 0;
  align-self: flex-start;
  font-size: 1.375rem;
  line-height: 30px;
}



.headingBlog {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 30px;
  margin: 2%;
  color: #000000;
  opacity: 0.5;
  text-decoration: none;

  position: sticky;
  top: 0;
  left: 2%;
}

.aLink {
  color: #000000;
  text-decoration: none;
}

.titleCarousel {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.5em;
  color: #21243d;
  margin-left: 2%;
  margin-top: 0;
  margin-bottom: 0;
  align-self: flex-start;
}

.subtitleCarousel {
  margin-left: 2%;
  margin-top: 0;
  margin-bottom: 2%;
}



.videoContainer {
  margin: auto;
}
.linkPost {
  color: inherit;
  cursor: pointer;
  text-decoration: none !important;
}

.footer {
  width: 100%;
  display: flex;
  color: black;
  height: 10%;
}

.footerHeading {
  opacity: 0.5;
  margin-left: 2%;
}


.embla__viewport {
  width: 100%;

}

.embla__container {
  display: flex;
  align-items: center;
  will-change: transform;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  height: 60vh;
}

.embla__slideWork {
  flex: 0 0 calc(85% / 5);
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.emblaWork__slide__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2%;
}